* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: antiquewhite;
}

body {
  background-color: #788365;
}

.pomodoro-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

/* .pomodoro-controls {
  display: flex;
  gap: 10px;
} */

.pomodoro-controls button {
  display: flex;
  gap: 10px;
  background: none;
  border: none;
}

.theme-container {
  margin-top: 50px;
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
}

.theme-container img {
  width: 8%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.684);
  transition: all ease-in-out 0.3s;
}

.theme-container img:hover {
  width: 10%;
}
